.hero-title {
    font-family: sans-serif;
}

.header-container {
    /* Layout */
    width: 75%;
    margin: 0 auto;


    /* Flex Settings */
    display: flex;
    justify-content: space-between;
    align-items: center;
}