.project-hero {
    margin: 0 auto;
    text-align: center;
}

.project-container {
    /* Layout */
    width: 90%;
    height: 67vh;
    margin: 0 auto;
    padding: 3vw;
    overflow: auto;
    /* Deco */
    background-color: #000;
    border-radius: 20px;
    /* Flex Settings */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}