.project-hero {
    margin: 0 auto;
    text-align: center;
}

.project-container {
    /* Layout */
    height: 80vh;
    /* Flex Settings */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.project-container div {
    /* Deco */
    border: 3px solid white;
    /* Layout */
    width: 40%;
    /* Flex Settings */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}