.contact-container {
    height: 80vh;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact-form {
    /* Layout */
    width: 60%;
    text-align: center;
    margin: 0 auto;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    text-align: left;
    margin: 2vh auto;
    background-color: #777;
    color: greenyellow;
}

.contact-form input {
    height: 5vh;
}

.contact-form textarea {
    height: 20vh
}


.contact-form button {
width: 15%;
height: 5vh;
text-align: center;
}

.name-email-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.name-email-container div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.error-text {
    color: red;
}