ul {
    padding-inline-start: 0;
}

.nav-links li {
    margin: 1vw;
}

.nav-links {
    /* Layout */
    width: 100%;
    /* Deco */
    list-style-type: none;
    /* Flex Settings */
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: row;
}