/* Tailwind Import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Component Classes */
@layer components {

    /*================================ NAVBAR ================================*/

    /* Links in the sidebar */
    .navlink {
        /* Layout */
        width: 65%;
        margin: 0 auto;
        /* Flex Settings */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Deco */
        text-align: left;
    }

    /*================================ PAGES ================================*/


    /*================================ ABOUT ================================*/


    /*================================ PROJECTS ================================*/

    /* The container that populates projects */
    .project-container {
        /* Layout */
        height: 100vh;
        margin: 0 auto;
        padding: 3vw;
        overflow: auto;
        /* Deco */
        background-color: #000;
        border-radius: 20px;
        /* Flex Settings */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }

    /* Project cards */
    .project-hero {
        width: 100%;
    }

    .project-card {
        width: 40%;
        height: 25vh;
        margin: 5vh 0;
        /* Flex Settings */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* Deco */
        text-align: center;
        box-shadow: 7px 7px 12px black;
        background-color: #111;
    }

    .project-images {
        /* Layout */
        width: 40%;
    }

    .project-desc {
        /* Layout */
        width: 50%;
        /* Flex Settings */
        display: flex;
        flex-direction: column;
    }

    .project-desc h1 {
        font-size: 1.5rem;
    }

    .project-desc p {
        font-size: .9rem;
    }

    .project-icon {
        width: 50%;
    }

    
    /*================================ SKILLS ================================*/
    
    .skillsection {
        border: 1px white solid;
        padding: 2rem;
        width: 300px;
    }

    .skillsection h2 {
        margin: 1rem;
    }

    /*================================ CONTACT ================================*/

    /* Links in the footer (now contact section) */
    .contactlink {
        padding: 1vw;
        width: 4.5rem;
    }

    /* =============================== SITEWIDE =============================== */

    .sectionheading {
        
    }
}

/* Root Variables */
:root {
    /* Colors */
    --background-color: #111;
    --main-type-color: #ddd;
    --secondary-type-color: #bbb;
    --pop-type-color: yellow;
    /* Sizes */
    --p-size: .8rem;
    /* Fonts */
    --main-font: sans-serif;
}

body {
    font-family: main;
    background-color: #111;
}

a {
    text-decoration: none;
    color: #ddd;
}

/*================================ SCROLLBAR ================================*/

::-webkit-scrollbar {
    width: .4vw;
}

::-webkit-scrollbar-track {
    background: #444;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 10px;
}