/* Root Variables */
:root {
    /* Colors */
    --background-color: #111;
    --main-type-color: #ddd;
    --secondary-type-color: #bbb;
    --pop-type-color: #FFAAA5;
    /* Sizes */
    --p-size: .8rem;
    /* Fonts */
    --main-font: sans-serif;
}

body {
    font-family: main;
    background-color: #111;
}

a {
    text-decoration: none;
    color: #ddd;
}

/* Tailwind Import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Component Classes */
@layer components {

    /*================================ NAVBAR ================================*/

    /* Links in the sidebar */
    .navlink {
        /* Layout */
        width: 65%;
        margin: 0 auto;
        /* Flex Settings */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Deco */
        text-align: left;
        font-size: larger;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    /* Add a cool hover effect for the nav links */

    .navhover {
        color: var(--pop-type-color);
        transform: translateX(5px);
      }

    .resume-hover {
        background-color: salmon;
        color: var(--background-color)
    }

    /*================================ PAGES ================================*/


    /*================================ ABOUT ================================*/


    /*================================ PROJECTS ================================*/

    /* The container that populates projects */
    .project-container {
        /* Layout */
        height: 94vh;
        margin: 0 auto;
        padding: 3vw;
        overflow: auto;
        /* Deco */
        background-color: var(--background-color    );
        border-radius: 20px;
        /* Flex Settings */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }

    /* Project cards */
    .project-hero {
        width: 100%;
    }

    .project-card {
        width: 40%;
        height: 25vh;
        margin: 5vh 0;
        /* Flex Settings */
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* Deco */
        text-align: center;
        box-shadow: 7px 7px 12px black;
        background-color: #111;
        border-radius: .5rem;
    }

    .project-images {
        /* Layout */
        width: 40%;
    }

    .project-desc {
        /* Layout */
        width: 50%;
        height: 60%;
        /* Flex Settings */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .project-desc h1 {
        font-size: 2rem;
    }

    .project-desc p {
        font-size: 1.2rem;
    }

    .project-icon {
        width: 125px;
    }

    
    /*================================ SKILLS ================================*/

    .skill-container {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .skillsection {
        /* Layout */
        width: 90%;
        height: 75vh;
        overflow-y: auto;
        /* Flex Settings */
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        /* Deco */
        border-radius: .5rem;
    }

    .ss-head {
        /* Layout */
        margin: 2rem;
        /* Deco */
        font-size: xx-large;
    }

    .skill {
        /* Layout */
        width: 35%;
        height: 13vh;
        margin: 1rem;
        /* Flex Settings */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .skill-icon {
        width: 40px;
    }

    /*================================ CONTACT ================================*/

    /* Links in the footer (now contact section) */
    .contactlink {
        padding: 1vw;
        width: 4.5rem;
    }

    /* =============================== SITEWIDE =============================== */

    .sectionheading {
        margin-top: 0;
        padding: .5rem;
        padding-left: 2rem;
        width: 100%;
        border-bottom: 1px solid white;
        font-size: x-large;
    }
}


/*================================ SCROLLBAR ================================*/

::-webkit-scrollbar {
    width: .4vw;
}

::-webkit-scrollbar-track {
    background: #444;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 10px;
}